# Media
bindsym XF86AudioPlay exec "~/.config/sway/scripts/media play-pause"
bindsym XF86AudioPause exec "~/.config/sway/scripts/media pause"
bindsym XF86AudioPrev exec "~/.config/sway/scripts/media previous"
bindsym XF86AudioNext exec "~/.config/sway/scripts/media next"

# Sound/Volume
bindsym XF86AudioRaiseVolume exec amixer -D pulse sset Master 2%+ # Volume++
bindsym XF86AudioLowerVolume exec amixer -D pulse sset Master 2%- # Volume--
bindsym XF86AudioMute exec amixer -D pulse sset Master toggle
bindsym XF86AudioMicMute exec amixer -D pulse sset Capture toggle

# Display Brightness
bindsym XF86MonBrightnessCycle exec brightnessctl set +5%
bindsym XF86MonBrightnessUp exec brightnessctl set +5%
bindsym XF86MonBrightnessDown exec brightnessctl set 5%-

# Keyboard Backlight
bindsym XF86KbdBrightnessUp exec brightnessctl -d asus::kbd_backlight set 1+
bindsym XF86KbdBrightnessDown exec brightnessctl -d asus::kbd_backlight set 1-

# Utils
bindsym --release Num_Lock exec sh -c $(state=$(cat /sys/class/leds/input*::numlock/brightness) && dunstify -h string:x-dunst-stack-tag:kbdstate \"NumLock: $(if [ ${state:0:1} = \"1\" ]; then printf \"🔒 On\"; else printf \"🔓 Off\"; fi)\" -u low)
bindsym --release Caps_Lock exec sh -c $(state=$(cat /sys/class/leds/input*::capslock/brightness) && dunstify -h string:x-dunst-stack-tag:kbdstate \"CapsLock: $(if [ ${state:0:1} = \"1\" ]; then printf \"🔒 On\"; else printf \"🔓 Off\"; fi)\" -u low)
