# GTK
set $gnome-schema org.gnome.desktop.interface

exec_always {
    gsettings set $gnome-schema gtk-theme 'Gruvbox-Material-Dark'
    gsettings set $gnome-schema gtk-application-prefer-dark-theme '1'
    gsettings set $gnome-schema icon-theme 'Gruvbox-Material-Dark'
    gsettings set $gnome-schema cursor-theme 'Adwaita'
    gsettings set $gnome-schema font-name 'Iosevka Curly 10'
}

# Fonts
font pango: Iosevka Term Curly 9

default_border pixel 2
gaps inner 8

# class                 border  backgr. text    indicator child_border
client.focused          #8f9a52 #8f9a52 #fbf1c7 #A9B665   #8f9a52
client.focused_inactive #303030 #282828 #ebdbb2 #1d2021   #303030
client.unfocused        #303030 #222222 #888888 #292d2e   #303030
client.urgent           #2f343a #900000 #ebdbb2 #900000   #900000
client.placeholder      #000000 #0c0c0c #ebdbb2 #000000   #0c0c0c

client.background       #282828
