/* Confirm Dialog */

@import "config.rasi"

* {
    background-color:       @background;
    text-color:             @foreground;
	font:				 	"Iosevka Nerd Font 10";
}

window {
    width:      			320px;
    padding:    			25px;
    border:					0px;
    border-radius:          0px;
    border-color:           @foreground;
    location:               center;
    y-offset:               -2em;
}

entry {
    expand: 				true;
    text-color:				@foreground;
}
